* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    scroll-behavior: smooth;
}

nav {
    background: transparent;
}

#back-button {
    background-color: #003983;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

#back-button:hover {
    background-color: transparent;
    color: #002F6C;
    border: 1px solid #003983;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

#mainPhoto img {
    border-radius: 0;
}

.homePics,
.homePicsMore {
    border-radius: 0;
}

#galleryRight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    width: 45%;
}

.homePics img,
.homePicsMore img {
    border-radius: 0;
}

.homePicsMore .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
}

#info {
    display: flex;
    flex-direction: column;
}

#property {
    width: 85%;
    background: rgb(255, 255, 255);
}

#price {
    font-size: 2.5em;
}

#property_state {
    font-size: 2em;
}

#number_of_rooms,
#number_of_bathrooms {
    margin-left: 5px;
}

#houseAddress {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.image-text {
    font-size: 2.5em;
    font-weight: 400;
    color: #2f404f;
}

#formSubmitButton {
    background-color: #003983;
    color: white;
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

#formSubmitButton:hover {
    color: #002F6C;
    background-color: transparent;
    border: 1px solid #003983;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.field-row label {
    font-weight: 600;
}