* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.box-left {
  width: 50%;
  height: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  background-color: #f7f7f7;
  display: grid;
}

.box-right {
  width: 50%;
  height: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.property {
  height: 270px;
  width: auto;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.picture {
  height: 60%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.price {
  height: 19%;
  font-size: 25px;
}

.rooms,
.bathrooms,
.area,
.state {
  padding: 0;
  height: 10%;
  width: 15%;
  float: left;
  font-size: 12px;
}

.state {
  height: 10%;
  width: 45%;
  margin-left: 30px;
  float: left;
  font-size: 14px;
}

.street {
  margin: 0;
  padding: 5px;
  height: 10%;
  width: auto;
  float: left;
  font-size: 14px;
}

.apartment {
  margin: 0;
  padding: 5px;
  height: 10%;
  width: auto;
  float: left;
  font-size: 14px;
}

.city {
  margin: 0;
  padding: 5px;
  height: 10%;
  width: auto;
  float: left;
  font-size: 14px;
}

.addressState {
  margin: 0;
  padding: 5px;
  height: 10%;
  width: auto;
  float: left;
  font-size: 14px;
}

.zip {
  margin: 0;
  padding: 5px;
  height: 10%;
  width: auto;
  float: left;
  font-size: 14px;
}


main {
  height: 90vh;
  justify-content: space-between;
}

.pagination-controls button.btn {
  width: auto;
  background-color: #bfd7ee;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.pagination-controls .ellipsis {
  width: auto;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

#main-info {
  display: flex;
  height: 90vh;
}

.btn.btn-primary {
  background-color: #007bff;
  color: white;
}